{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload File</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <div class="container">
        <h1>Upload Your File</h1>
        <form method="post" enctype="multipart/form-data" id="upload-form">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="file" name="file" id="file-input" required>
            <div id="column-mapping"></div>
            <button type="submit" id="upload-button" class="btn">Upload</button>
        </form>
        <br>
        <a href="{% url 'index' %}" class="btn">Back to Home</a>
    </div>

    <script>
        /*
        document.getElementById('file-input', 'select[name="action"]').addEventListener('change', function() {
            console.log(this.value);
            if (this.value === 'add') {
                var formData = new FormData(document.getElementById('upload-form'));
                fetch('{% url "upload_file" %}', {
                    method: 'POST',
                    body: formData,
                })
                .then(response => response.text())
                .then(html => {
                    document.getElementById('column-mapping').innerHTML = html;
                });
            }
        });
        */
        // Скрыть поле выбора таблиц, если выбрано "Создать новую таблицу"
        document.querySelector('select[name="action"]').addEventListener('change', function() {
            console.log(this.value)
            if (this.value === 'add') {
                document.querySelector('select[name="table"]').parentElement.style.display = 'block';
                document.getElementById('file-input').addEventListener('change', handleFileUpload);
            } else {
                document.querySelector('select[name="table"]').parentElement.style.display = 'none';
            }
        });
        document.querySelector('select[name="action"]').dispatchEvent(new Event('change'));

        function handleFileUpload() {
            var formData = new FormData(document.getElementById('upload-form'));
            fetch('{% url "upload_file" %}', {
                method: 'POST',
                body: formData,
            })
            .then(response => response.text())
            .then(html => {
                document.getElementById('column-mapping').innerHTML = html;
            });
        }

        // Добавляем функционал для отправки выбранных колонок
        document.getElementById('upload-form').addEventListener('submit', function(event) {
            event.preventDefault(); // Предотвращаем стандартное поведение отправки формы

            var selectedColumns = []; // Массив для хранения выбранных колонок
            document.querySelectorAll('#column-mapping select').forEach(function(select) {
                selectedColumns.push(select.value); // Добавляем значение каждого селекта в массив
                console.log(select.value);
            });
            console.log(selectedColumns);
            var formData = new FormData(this); // Создаем новый FormData объект
            formData.append('selected_columns', JSON.stringify(selectedColumns)); // Добавляем выбранные колонки в FormData
            fetch('{% url "upload_file" %}', {
                method: 'POST',
                body: formData,
            })
            .then(response => {
                if (response.ok) {
                    window.location.href = '{% url "upload_success" %}'; // Перенаправляем на страницу "upload_success"
                } else {
                    return response.text().then(text => { throw new Error(text); });
                }
            })
            .catch(error => {
                console.error('Error:', error);
            });
        });
    </script>
</body>
</html>
